<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>skill/will - Login</title>
		<link rel="stylesheet" type="text/css" href="/auth-resources/style.css">
	</head>
	<body>
		<header class="header"></header>
		<div class="container">
			<h1 class="title">skill/will</h1>
			<h3 class="subtitle">We have talent!</h3>
			<form method="GET" action="/oauth2/start">
				<div class="login">
					<p class="description">Search for SinnerSchrader colleagues with specific skills and manage your own skill/will profile.</p>
					<button class="login-btn">Login with Google</button>
				</div>
			</form>
		</div>
	</body>
</html>
