.skills-list {
	width: 100%;
}

.skill-item {
	display: flex;
	justify-content: space-between;
	padding-bottom: @s-stack;
}

.skill-name {
	position: relative;
	display: flex;
	margin-bottom: @xxs-stack;
	flex-basis: 48%;

	span {
		padding-right: @s-inline;
	}

	&:after {
		bottom: 0;
		display: flex;
		width: 100%;
		margin-right: @m-stack;
		content: "";
		background-image: linear-gradient(to right, @s2-darkgrey3 12%, rgba(255,255,255,0) 0%);
		background-repeat: repeat-x;
		background-position: 100% 80%;
		background-size: 16px 2px;
	}
}
.skill-level {
	position: relative;
	display: flex;
	flex-basis: 50%;
}
.level {
	width: 50%;
	height: 16px;
	position: relative;
	display: inline-block;
	background-color: hsl(0,0%,90%);
	padding-right: @m-inline;
}
.levelBar {
	display: inline-block;
	text-align: end;
	position: absolute;
	font-size: 24px;
	height: 100%;

	&--0 {
		width: 0;
	}
	.animateable &--1,
	.animateable &--2,
	.animateable &--3 {
		animation-duration: 1s;
		animation-delay: 0.3ms;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in;
		will-change: width;
	}
	.animateable &--1 {
		animation-name: fillBars-33;
	}
	.animateable &--2 {
		animation-name: fillBars-66;
	}
	.animateable &--3 {
		animation-name: fillBars-100;
	}

	&--1 {width: 33%;}
	&--2 {width: 66%;}
	&--3 {width: 100%;}
}



.skillBar {
	background: @skillBarColor;
	right: 0;
	text-align: start;
	text-indent: -10px;
}
.willBar {
	background: @willBarColor;
	text-indent: 100%;
}

@keyframes fillBars-33 {
	from {
		width: 0;
	}
	to {
		width: 33%;
	}
}
@keyframes fillBars-66 {
	from {
		width: 0;
	}
	to {
		width: 66%;
	}
}
@keyframes fillBars-100 {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
