
.searchbar {
  margin-top: @4xl-stack;
  padding-top: @l-stack;

  .search-container {
    display: flex;

    .input-container {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      border-radius: 0;
      border-bottom: @base-border;
      float: left;

      input {
        padding: @s-stack;
        box-sizing: content-box;
        background-color: transparent;
        flex: 2 1 auto;
        appearance: none;
        border: none;
        border-radius: 0;

        &:focus {
          outline: none;
        }
      }

      .search-term {
        display: inline-block;
        border: @base-border;
        padding: @s-stack;
        padding-right: @s-inline;
        margin: @xs-inline;
        margin-bottom: @xxs-inline;
        line-height: @base-font-size;
        cursor: pointer;

        &:hover {
            color: @s2-red;
            border-color: @s2-red;

            a {
              color: @s2-red;
            }
        }

        a {
          cursor: pointer;
          margin-left: @s-inline;
          color: @s2-black;
        }
      }
    }

    button {
      width: 5%;
      max-width: 21px;
      min-height: 42px;
      margin-left: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      opacity: 1;

      &.submit-search-button {
        background-image: data-uri("@{image-path}/icon-search.svg");
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: contain;
      }

      &:hover {
          opacity: 0.75;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .info-text {
    display: inline-block;
    margin-top: @xl-stack;
    font-size: @xs-title-font-size;
    line-height: (@xs-title-font-size * 2);
    font-weight: 300;

    @media (min-width: @tablet-portrait-up) {
      font-size: @xs-title-font-size;
      line-height: (@xs-title-font-size * 2);
      margin-top: @3xl-stack;
      width: 90%;
    }
  }

  .search-description {
    padding: @s-stack 0 @m-stack 0;
    text-align: center;
    margin-bottom: @l-stack;
  }
}
