.mod-navigation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;

  .my-profile-open & {
    position: fixed;
    position: fixed;
    background-color: @s2-verydarkblue;
    z-index: 1000;
  }
}

.mod-navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: @m-stack 0;
  margin: 0 auto;
}

.s2-logo {
  display: flex;
  position: relative;
  margin-right: inherit;
  background-image: data-uri("@{image-path}/s2-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: @l-stack;
  width: 131px;
  height: 30px;
}

.sw-title {
  position: absolute;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
  color: @s2-red;
  font-size: @s-title-font-size;
  opacity: 0;
  
  &:hover {
    color: @s2-white;
  }
  
  @media (min-width: @tablet-portrait-up) {
    .results-view & {
      opacity: 0;
    }
    .layer-open & {
      opacity: 1;
    }
  }
}

.nav {
  display: flex;
}

.nav-list {
  display: inline-block;
}

.nav-item {
  display: inline-block;
  text-align: right;
  padding-right: @l-inline;
  
  .nav-link {
    display: inline-block;
    color: @s2-white;
    
    &:hover {
      color: @s2-red;
    }
  }
}